<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="pb-2 mx-1 py-2 px-2 mr-2">
                Wishlist
                <button class="btn btn-default" [routerLink]="['/add']"
                    routerLinkActive="router-link-active">NEW</button>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let person of  wishlist">
                        <td>{{ person.id }}</td>
                        <td>{{ person.name }}</td>
                        <td>
                            <button [routerLink]=" ['/'+ person.id]" routerLinkActive="router-link-active"
                                title="Edit">
                                Edit
                            </button>
                            <button (click)="onDeleteWish(person.id)" title="Delete"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>